body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

p, nav a {
  font-size: 150%;
}

h1 {
  font-size: 300%;
}

/* TODO: size images manually so this is not necessary */

img {
  max-width: 100%;
}

/***************** NAV ****************/

nav a:hover {
  text-decoration: underline;
}

nav a {
  font-weight: bold;
  color: white;
}

nav li {
  text-align: center;
}

.blue {
  background-color: rgb(0, 102, 255);
}

/**************** HERO *****************/

h1 .logo-w {
  font-size: 3.5rem;
}

/**************** ASIDE ****************/

label {
  font-size: 1.25rem;
}
.filter {
  font-size: 1.25rem;
}

input[type="submit"] {
  padding-top: .25rem;
  padding-bottom: .3rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: 1.25rem;
  color: white;
  text-align: center;
  display: inline;
  vertical-align: middle;
}

.cart-info {
  float: right;
  padding: .5rem 1rem;
}

#cartinfo {
  clear: both;
  float: right;
  height: 10rem;
  width: 25rem;
  margin: auto;
  font-size: 1.1rem;
}
/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 3rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 2.2rem;
  text-align: center;
  color: #2d2d2d;
}

.item-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.item {
  border: solid 1px black;
  width: 80%;
  margin: 2.5% 10%;
  
}